<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666553099517-u8ein551o2pob4ou1emcrcdgbgn1bpro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666553099517-u8ein551o2pob4ou1emcrcdgbgn1bpro</string>
	<key>API_KEY</key>
	<string>AIzaSyApaJCZxMmsCnlkNLGRAaEejS0NRNoLcHk</string>
	<key>GCM_SENDER_ID</key>
	<string>666553099517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.as.stockTracker</string>
	<key>PROJECT_ID</key>
	<string>stock-tracker-25d7b</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-tracker-25d7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666553099517:ios:5062b9a76b7c2334074a94</string>
</dict>
</plist>